{
	"plugins": ["prettier-plugin-astro"],
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"printWidth": 100,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"proseWrap": "preserve"
			}
		}
	]
}
